<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{get_url('static', '/css/main.css')}}">
    <title>SUrvey Says</title>
</head>
<body>
    <h1>fill out the form</h1>
    <form action="" method="POST">
        Your Name: <input type="text" name="name" placeholder="Your Full Name">
        Dojo Location: <select name="Dojo Location" id="">
                            <option value="SAn Francisco">San Francisco</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Online Bootcamp">Online Bootcamp</option>
                        </select>
        Favorite Language: <select name="Favorite Language" id="">
                                <option value="JavaScript">JavaScript</option>
                                <option value="Python">Python</option>
                                <option value="CSS">CSS</option>
                                <option value="HTML 5">HTML 5</option>
                            </select>
    </form>    
</body>
</html>