<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <title>SUrvey Says</title>
</head>
<body>
    <h1>fill out the form</h1>
    <form action="/results" method="POST">
        <label for="name">Your Name:</label>  <input type="text" name="name" placeholder="Your Full Name">
        <label for="Dojo_Location">Dojo Location:</label>  <select name="Dojo_Location" id="">
                            <option value="SAn Francisco">San Francisco</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Online Bootcamp">Online Bootcamp</option>
                        </select>
        <label for="Favorite lang"> Favorite Language:</label><select name="Favorite_Language" id="">
                                <option value="JavaScript">JavaScript</option>
                                <option value="Python">Python</option>
                                <option value="CSS">CSS</option>
                                <option value="HTML 5">HTML 5</option>
                            </select>
        <label for="comment_box">Comment (Optional)</label><input type="text" name="optional_comment" id="Optional">
        <input type="submit" value="Submit My Answers">                    
    </form>    
    <h3>{{error_msg}}</h3>
</body>
</html>